/* Navigation style codes */
html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color:white;
}

.inline-block{
    display: inline-block;
    vertical-align: top;
}

/* Navigation style codes */

header {
    background-color: #f9f9f9;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 23%;
    padding: 1%;
    color: black;
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

li {
    margin: 0 10px;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 100px;
}


section {
    padding: 30px;
    background-color: #F9F9F9;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

section h1 {
    margin-bottom: 20px;
    font-size: 34px;
}

section p {
    line-height: 1.5;
    font-size: 24px;
}

.design{ 
    background-color: #FACF7B;

}

.collaboration{ 
    background-color: #DDDFF2;

}

.Leadership{ 
    background-color: #E8C0BC;

}

.Writing{ 
    background-color: #BBEBEE;

}

.skillstools{ 
    background-color: #B1828E;

}

.education{ 
    background-color: #E5DCD5;

}









/*  Button Styling */
.button {
    display: flex;
    padding: 20px 20px;
    background-color: #FACF7B;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    justify-content: center;
}

/* Hover Effect */
.button:hover {
    background-color:  #FACF7B;
    transform: scale(1.1);

}

/* Active State */
.button:active {
    background-color:#E5DCD5;
    transform: scale (1.1);
}

.downloadbutton{ 
    display: flex;
    justify-content: center;
    padding: 2%;
}


/* Footer */
footer {
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    flex-direction: row-reverse;
}

.footer h2 {
    font-size: 24px;
    margin-bottom: 5px; 
}

.footer p {
    margin-bottom: 5px; 
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 5px; 
}

.footer-section.social ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section.links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section.thank-you {
    display: flex;
    flex-direction: column ;
    align-items: flex-start;}