/* Navigation style codes */
html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color:white;
}

.inline-block{
    display: inline-block;
    vertical-align: top;
}

header {
    background-color: #f9f9f9;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center items vertically within the header */
}

nav {
    width: 73%;
    padding: 1%;
    color: black;
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Center menu items vertically */
    margin-right: auto; /* Push the menu items to the right side */
}


li {
    margin: 0 10px;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
    display: flex;
    align-items: center; /* Center the logo vertically */
    margin-left: auto;
}

.logo img {
    max-height: 100px;
}


.heroImg {
    height: 600px;
    padding: 25px;
    align-items: flex-start;
    background-color: #f2f2f2; /* Add a background color to the hero section */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 900px;
    margin: 0 auto;
    font-size: 48px;
    text-align: left; /* Center align the text within the hero section */
}

.mywork1,
.mywork2 {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.work-container {
    display: flex;
    width: 100%;
    padding: 20px;
    margin: 40px 0;
}

.work-container.blue-background {
    background-color: #3e8ecc; /* Blue background color */
}

.work-container.purple-background {
    background-color: #b38df2; /* Light purple background color */
}

.work-text {
    flex: 1;
    padding: 20px;
    text-align: right;
}

.work-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.work-image img {
    height: 400px; /* Adjust the image height as needed */
    margin-right: 20px;
}

.work-text h1 {
    margin-top: 0;
}


.contentcontianer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
     flex-direction:column;
}

/* Footer */
footer {
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between; /* Add this property to space the elements evenly */
    align-items: flex-start;
    flex-direction: row-reverse;
}

.footer h2 {
    font-size: 24px;
    margin-bottom: 5px; /* Adjust the margin */
}

.footer p {
    margin-bottom: 5px; /* Adjust the margin */
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 5px; /* Adjust the margin */
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 5px; /* Adjust the margin */
}

.footer-section.social ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section.links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section.thank-you {
    display: flex;
    flex-direction: column ;
    align-items: flex-start;
}


